
.NavBar {
    background-color: #282c34;
    /* min-height: 100px; */
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    font-size: .8rem;
    color: white;
    padding: 0 5% 0 4%;
    .left{
        h1{
        margin: 5px 0 5px;
        }
    }
    .right{
        .profilePic{
            width: 45px;
            height: 45px;
        }
    }

  }